.header1 {
  text-align: center;
  font-size: 36px;
  background-color: #B47BB6;
  font-family: 'Pacifico', cursive;
}

.bullet1 {
  font-weight: bold;
  font-size: 20px;
}

.pic1 {
  float: right;
}
